<div class="container bg-light py-5 my-5">
  <h1 class="display-5 fw-bold">Bem vindo ao Quiz App</h1>
  <h4>Regras:</h4>
  <ol>
    <li>Cada Questão Correta vale 10 pontos.</li>
    <li>Cada Questão Incorreta é -10 pontos.</li>
    <li>Cada Questão tem 60 segundos para ser respondida</li>
    <li>Um total de 10 questões</li>
    <li>Se resetar a página o Quiz é resetado</li>
  </ol>
  <div class="col-md-4 my-3">
    <label for="">Entre com seu Nome:</label>
    <input #name type="text" class="form-control">
  </div>
  <button class="btn btn-primary btn-lg" routerLink="/home" (click)="startQuiz()">Inicie o Quiz</button>
</div>
