<div class="container">
  <h3 style="text-align: center;">Ranking <i class="fas fa-crown"></i> </h3>
  <div class="card my-3">
    <div class="card-header d-flex">
      <i style="font-size: 30px; margin-right: 5px;" class="far fa-user"></i>
      <h4 class="d-flex">UserName</h4>
    </div>
    <div class="card-body">
      <p> <i class="fas fa-gamepad"></i> Pontuação:</p>
      <div>
        <p> <i class="far fa-calendar-alt"></i> Data:</p>
      </div>
    </div>
  </div>
  <div class="card my-3">
    <div class="card-header d-flex">
      <i style="font-size: 30px; margin-right: 5px;" class="far fa-user"></i>
      <h4 class="d-flex">UserName</h4>
    </div>
    <div class="card-body">
      <p> <i class="fas fa-gamepad"></i> Pontuação:</p>
      <div>
        <p> <i class="far fa-calendar-alt"></i> Data:</p>
      </div>
    </div>
  </div>
  <div class="card my-3">
    <div class="card-header d-flex">
      <i style="font-size: 30px; margin-right: 5px;" class="far fa-user"></i>
      <h4 class="d-flex">UserName</h4>
    </div>
    <div class="card-body">
      <p> <i class="fas fa-gamepad"></i> Pontuação:</p>
      <div>
        <p> <i class="far fa-calendar-alt"></i> Data:</p>
      </div>
    </div>
  </div>
  <div class="card my-3">
    <div class="card-header d-flex">
      <i style="font-size: 30px; margin-right: 5px;" class="far fa-user"></i>
      <h4 class="d-flex">UserName</h4>
    </div>
    <div class="card-body">
      <p> <i class="fas fa-gamepad"></i> Pontuação:</p>
      <div>
        <p> <i class="far fa-calendar-alt"></i> Data:</p>
      </div>
    </div>
  </div>
  <div class="card my-3">
    <div class="card-header d-flex">
      <i style="font-size: 30px; margin-right: 5px;" class="far fa-user"></i>
      <h4 class="d-flex">UserName</h4>
    </div>
    <div class="card-body">
      <p> <i class="fas fa-gamepad"></i> Pontuação:</p>
      <div>
        <p> <i class="far fa-calendar-alt"></i> Data:</p>
      </div>
    </div>
  </div>
</div>
